wsdl/cursbce.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.infovalutar.ro/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.infovalutar.ro/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.infovalutar.ro/">
      <s:element name="getlatestvalue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Moneda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getlatestvalueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getlatestvalueResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getall">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dt" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getallResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getallResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getvalue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TheDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Moneda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getvalueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getvalueResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LastDateInserted">
        <s:complexType />
      </s:element>
      <s:element name="LastDateInsertedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LastDateInsertedResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="lastdateinserted">
        <s:complexType />
      </s:element>
      <s:element name="lastdateinsertedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lastdateinsertedResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getlatestvalueSoapIn">
    <wsdl:part name="parameters" element="tns:getlatestvalue" />
  </wsdl:message>
  <wsdl:message name="getlatestvalueSoapOut">
    <wsdl:part name="parameters" element="tns:getlatestvalueResponse" />
  </wsdl:message>
  <wsdl:message name="getallSoapIn">
    <wsdl:part name="parameters" element="tns:getall" />
  </wsdl:message>
  <wsdl:message name="getallSoapOut">
    <wsdl:part name="parameters" element="tns:getallResponse" />
  </wsdl:message>
  <wsdl:message name="getvalueSoapIn">
    <wsdl:part name="parameters" element="tns:getvalue" />
  </wsdl:message>
  <wsdl:message name="getvalueSoapOut">
    <wsdl:part name="parameters" element="tns:getvalueResponse" />
  </wsdl:message>
  <wsdl:message name="LastDateInsertedSoapIn">
    <wsdl:part name="parameters" element="tns:LastDateInserted" />
  </wsdl:message>
  <wsdl:message name="LastDateInsertedSoapOut">
    <wsdl:part name="parameters" element="tns:LastDateInsertedResponse" />
  </wsdl:message>
  <wsdl:message name="lastdateinsertedSoapIn">
    <wsdl:part name="parameters" element="tns:lastdateinserted" />
  </wsdl:message>
  <wsdl:message name="lastdateinsertedSoapOut">
    <wsdl:part name="parameters" element="tns:lastdateinsertedResponse" />
  </wsdl:message>
  <wsdl:portType name="CursBCESoap">
    <wsdl:operation name="getlatestvalue">
      <wsdl:input message="tns:getlatestvalueSoapIn" />
      <wsdl:output message="tns:getlatestvalueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getall">
      <wsdl:input message="tns:getallSoapIn" />
      <wsdl:output message="tns:getallSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getvalue">
      <wsdl:input message="tns:getvalueSoapIn" />
      <wsdl:output message="tns:getvalueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LastDateInserted">
      <wsdl:input message="tns:LastDateInsertedSoapIn" />
      <wsdl:output message="tns:LastDateInsertedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="lastdateinserted">
      <wsdl:input message="tns:lastdateinsertedSoapIn" />
      <wsdl:output message="tns:lastdateinsertedSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CursBCESoap" type="tns:CursBCESoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getlatestvalue">
      <soap:operation soapAction="http://www.infovalutar.ro/getlatestvalue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getall">
      <soap:operation soapAction="http://www.infovalutar.ro/getall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getvalue">
      <soap:operation soapAction="http://www.infovalutar.ro/getvalue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LastDateInserted">
      <soap:operation soapAction="http://www.infovalutar.ro/LastDateInserted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lastdateinserted">
      <soap:operation soapAction="http://www.infovalutar.ro/lastdateinserted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CursBCESoap12" type="tns:CursBCESoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getlatestvalue">
      <soap12:operation soapAction="http://www.infovalutar.ro/getlatestvalue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getall">
      <soap12:operation soapAction="http://www.infovalutar.ro/getall" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getvalue">
      <soap12:operation soapAction="http://www.infovalutar.ro/getvalue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LastDateInserted">
      <soap12:operation soapAction="http://www.infovalutar.ro/LastDateInserted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lastdateinserted">
      <soap12:operation soapAction="http://www.infovalutar.ro/lastdateinserted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CursBCE">
    <wsdl:port name="CursBCESoap" binding="tns:CursBCESoap">
      <soap:address location="http://www.infovalutar.ro/cursbce.asmx" />
    </wsdl:port>
    <wsdl:port name="CursBCESoap12" binding="tns:CursBCESoap12">
      <soap12:address location="http://www.infovalutar.ro/cursbce.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>